body {margin: 0;}

#topbar {
    width: 100%;
    display:block;
    height:5%;
    background-color: gainsboro;
}

#topbar button {
    height: 90%;
    font-size: x-large;
    margin-left: 5px;
}

#topbar input {
    height: 90%;
    font-size: x-large;
    margin-left: 5px;
}

#inventory {
    width: 70%;
    display:block;
    height: 95%;
    float:left;
}

.slot {
    width: 20%;
    height: 20%;
    display: block;
    float: left;
    position: relative;
}

.item-id {
    height: 100%;
    width: 100%;
    display: block;
    font-size: 6rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.item-amount {
    height: 25%;
    width: 25%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    font-size: 1rem;
}

#id-list {
    float: left;
    width: 29%;
    height: 95%;
    overflow-y: scroll;
    font-size: 1.2rem;
}